<h1 class="title">Important Non-Player Characters</h1>

<div id="divDost">
    <div id="Dost">
        <h2>Dosteran</h2>
        <p>King Makar - The king of the kingdom of Dostearan made only a brief appearance to celebrate his daughter's birthday in Laristal, though the celebrations were cut short by the death of Princess Debra. Alastra used the opportuntity to get close enough to the king to bewitch him, though the Revenant's appearance at the wake prevented her from capitalizing on the situation. The party broke the spell on the king, though he could not remember it being placed on him. The party left to find Alastra while the king returned to his thrown in Dostearan.</p>
    </div>
    <div id="Laristal">
        <h3>Laristal</h3>
        <ul>
            <li>Princess Romana - The residing noble of Laristal. After demonstrating their bravery by defeating the dark force praying on the lumberjacks, she asked the party to find her sister. They didn't. </li>
            <li>Princess Debra - Dead because the party decided to chase Ashkenaz's side quest instead of looking for her.</li>
            <li>Ashkenaz - Leader of the Laristal chapter of the Thieves' Guild. He sent the party on a side quest to recover some sapphires stolen from some important clients.</li>
            <li>Luton - The contact person for Gulak's Angels whenever they need to fence something or need a job. They promptly ignored him.</li>
            <li>Lady Alastra - Made a real with the fey Maev in order to bewitch the king. The party chased her down to Cartol where her life was sacrificed to open a portal to the duat.</li>
        </ul>
    </div>
    <div id="Warsteep">
        <h3>Warsteep</h3>
        <ul>
            <li>Lord Naryim - The residing noble of Warsteep. His family is one of the oldest in Dostearan and have been loyal since the beginning. Well, there was this one time when one of them tried to assassinate the then-king and take over the kingdom, but he mixed up the goblets of wine and drank his own poison. Nobody ever knew. Lord Naryim is a fair man, though he probably spends a little too much time at seas for his advisors' liking.</li>
            <li>Lucus - Leader of the Warsteep chapter of the Theieves' Guild. Despite receiving a good report of the party from Ashkenaz, he remains skeptical of their abilities.</li>
        </ul>
    </div>
</div>

<div id="divAldurn">
    <div id="Aldurn">
        <h2>Aldurn</h2>
        <p>The party passed by Aldurn, but it was quarantined due to plague. The party has not yet met any NPCs from the capital.</p>
    </div>
    <div id="Cartol">
        <h3>Cartol</h3>
        <ul>
            <li>Hamil - One of the elders who lead Cartol. He tasked Gulak's Angels with entering the duat and finding a way to close the portal right outside his town.</li>
            <li>Hagatha - apothecary in Cartol. She asked the adventurers to bring back several exotic plants from the duat. One in particular, eriaka, is known for being able to cure a variety of diseases.</li>
            <li>Greg - Caelynn's birth father. They didn't talk.</li>
        </ul>
    </div>
</div>