<h1 class="title">Player Characters</h1>

<img src="/images/pc_figures.jpg" alt="Clay heroes" id="clayHeroes" />
<div class="credit picCaption">Clay figures made by one of the players. From left to right: Din, Caelynn, Ari, Xeka, Gulak</div>





<div class="character">
    <img src="/images/goliath.jpg" alt="Gulak's mug shot" class="profile" />
    <span id="gulak">
        Gulak, son of Dulak, great warrior of the mountain plains! What the hell is a mountain plain? Gulak hails from the icy plateaus far to the north. He is relatively small for a <a href="https://www.dndbeyond.com/races/goliath">Goliath,</a> a race that prizes competition - particular those involving physical feats. As the son of the village chief, there were many expectations for Gulak growing up. While he never shirked from a challenge and excelled in acts of physical prowess, his size always kept him from being taken seriously. He left home in order to acquire an unreasonable amount of riches and glory. But riches are glory, so he's really only out for glory. One day he'll return home to prove to everything that they should not have underestimated him.
        <br />He is a barbarian following the path of the totem animals. He has the endurance of a bear, so he stands tall in the midst of a fight long after his allies have pulled back to lick their wounds. He has the eyesight of the eagle, which allows him to see in detail up to a mile away. It's handy for spotting upcoming ambushes.
        <br />He's the "Charlie" of the Angels.
        <br /><span class="credit">Picture courtesy of https://www.dndbeyond.com/races/goliath </span>
    </span>
</div>
    Gulak currently has {{glory}} glory. Think he deserves more? Leave us a <a href="./review">review</a>.

<div class="character">
    <img src="/images/xeka.jpg" alt="Xeka's hand-drawn face" class="profile" />
    <span id="xeka">
        Xekalandrista (or "Xeka" as she prefers) likes to tell tales - the taller the better. Preferably with some rhymes and smooth viol music to go with it. After her mother died and her father became a control freak, Xeka ran away from home. She couldn't help but feel that the silent war between the Thieves' Guild and the nobles of Aldurn that lead to her mother's death was somehow the fault of her father. Not long after she ran away she met a friendly dwarf who taught her the ways of being a bard.
        <br />She is a Tiefling and a member of the <a href="http://dnd5e.wikidot.com/bard:whispers">College of Whispers</a> and specializes in covert manipulation. And talking down the authorities when other members of the party (read: Gulak) say something rash and aggressive. She has used her "Mantle of Whispers" ability to attempt to poison a gnoll warband (which probably would have worked if Gulak hadn't taunted them before they had a chance to drink from the poisoned wells), and to pose as a high priest to smooth over any sign of their intrusion into their temple.
        <br /><span class="credit">Picture provided by player.</span>
    </span>
</div>


<div class="character">
    <img src="/images/caelynn.jpg" alt="Caelynn in all her half-elf glory" class="profile" />
    <span id="caelynn">
        Caelynn and her best friend Din (who happens to be a bear) pack a one-two punch. She is a Half-elf <a href="https://media.wizards.com/2016/dnd/downloads/UA_RevisedRanger.pdf">Unearthed Arcana</a> ranger following the beast master archetype. Much like halflings, she is consumed with wanderlust and entered the adventurer life for the thrills. She will go to any lengths to satisfy her curiosity - including triggering obvious traps just to see what the trap is. She never knew her father growing up, but found him in the city of Cartol but decided against introducing herself.
        <br />
        During the Halloween episode, Xeka found a daily planner in the haunted mansion they were exploring and was surprised to find Caelynn's handwriting. Even more mysteriously, the planner was filled cover-to-cover with appointments and meetings. During the climax of the adventure, each hero faught their greatest fear - including a desk with a placard declaring "Caelynn- Regional Manager." An incorrigible free spirit, Caelynn couldn't imagine anything more horrifying than a desk job.
        <br /><span class="credit">Picture courtesy of https://www.deviantart.com/dldigital/art/Kay-The-Half-Elf-Ranger-425449528 </span>
    </span>
</div>


<div class="character">
    <img src="/images/ari.jpg" alt="As close as we're going to get to Ari" class="profile" />
    <span id="ari">
        Ari is an elven girl who is extremely passionate about FIRE. Fire bolts, fireballs, immolations - you name it. She also happens to be bald because she set her hair on fire. Ari is the only native resident of the Laristal province where she lived with her mentor, Artemis, and learned the ways of big flashy wizardry. Her mentor disappeared mysteriously one night, leaving for her only a black book which exudes an evil aura and which she could not open. She entered Laristal to find allies help her unravel the mysteries surrounding her missing mentor and friend, but quickly got distracted by all the interesting things the party gets up to.
        <br />
        In the duat, Ari and the party found a hag who was using a magic ritual to destroy an artifact of Osiris. As Ari led the party in a counter-ritual, the evil book flung itself from her pack of its own volition and absorbed the magic circle the hag was using into itself. It does not easily give up its secrets, but the portents are dire.
        <br /><span class="credit">Picture courtesy of http://runtheshadows.tumblr.com/search/Elf+Shadowrunners </span>
    </span>
</div>