body {
    padding-left: 20%;
    padding-right: 20%;
}

.title {
    text-align: center;
}

/*Styles for the carousel*/
#carousel {
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: 345px;
}

.carousel-caption h4, .carousel-caption p {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/*Styles for home*/
.bodyText {
    text-align: center;
}

.strike {
    text-decoration: line-through;
}

/*Styles for pcs*/
.character{
    margin-top: 30px;
}

.profile {
    display: inline;
    float: left;
}

.credit{
    font-size: 10px;
}

#gulak, #ari, #caelynn, #xeka {
    padding-left: 10px;
    display: block;
    overflow: auto;
    height: 100px;
}

#clayHeroes {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#clayTag {
    text-align: center;
}

/*Styles for review*/
#comment {
    width: 300px;
    height: 80px;
}

#commentLabel{
    position: relative;
    bottom: 40px;
}

/*Styles for world*/
#worldMap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 375px;
}